
body{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 2rem;
}
.alert{
    transition: all .3s ease-in-out;
    animation: fromTop .3s forwards;
}


 @keyframes fromTop{
    0%{
        transform: translateY(-1090px);
    }
    100%{
        transform: translateY(0px);
    } 
} 